@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?5me8ul');
	src:url('../fonts/icomoon.eot?#iefix5me8ul') format('embedded-opentype'),
		url('../fonts/icomoon.woff?5me8ul') format('woff'),
		url('../fonts/icomoon.ttf?5me8ul') format('truetype'),
		url('../fonts/icomoon.svg?5me8ul#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-te:before {
	content: "\e600";
}

.icon-tjin:before {
	content: "\e601";
}

.icon-tsuo:before {
	content: "\e602";
}

.icon-txu:before {
	content: "\e603";
}

.icon-tZUI:before {
	content: "\e604";
}

.icon-tbu:before {
	content: "\e605";
}

.icon-tji:before {
	content: "\e606";
}

.icon-tzheng:before {
	content: "\e607";
}

.icon-ideas:before {
	content: "\e608";
}

.icon-ideas2:before {
	content: "\e609";
}

.icon-camera:before {
	content: "\e60a";
}

.icon-camera2:before {
	content: "\e60b";
}

.icon-text:before {
	content: "\e60c";
}

.icon-text2:before {
	content: "\e60d";
}

.icon-code:before {
	content: "\e60e";
}

.icon-unfollow:before {
	content: "\e60f";
}

.icon-follow:before {
	content: "\e610";
}

.icon-changecolor:before {
	content: "\e611";
}

.icon-buy:before {
	content: "\e615";
}

.icon-like:before {
	content: "\e617";
}

.icon-add:before {
	content: "\e618";
}

.icon-cancel:before {
	content: "\e619";
}

.icon-checkbox:before {
	content: "\e61a";
}

.icon-checkmark:before {
	content: "\e61b";
}

.icon-checkmark2:before {
	content: "\e61c";
}

.icon-undo:before {
	content: "\e61d";
}

.icon-sendout:before {
	content: "\e61e";
}

.icon-delete:before {
	content: "\e61f";
}

.icon-save:before {
	content: "\e620";
}

.icon-tdesign:before {
	content: "\e621";
}

.icon-edit:before {
	content: "\e623";
}

.icon-info:before {
	content: "\e624";
}

.icon-key:before {
	content: "\e625";
}

.icon-rotate:before {
	content: "\e626";
}

.icon-tshirt:before {
	content: "\e627";
}

.icon-f:before {
	content: "\e628";
}

.icon-m:before {
	content: "\e629";
}

.icon-upkuohao:before {
	content: "\e62a";
}

.icon-upkuohao2:before {
	content: "\e62b";
}

.icon-m2:before {
	content: "\e62c";
}

.icon-f2:before {
	content: "\e62d";
}

.icon-tbao:before {
	content: "\e62e";
}

.icon-tchen:before {
	content: "\e62f";
}

.icon-tcun:before {
	content: "\e630";
}

.icon-tde:before {
	content: "\e631";
}

.icon-tdu:before {
	content: "\e632";
}

.icon-tgong:before {
	content: "\e633";
}

.icon-tgong2:before {
	content: "\e634";
}

.icon-tji2:before {
	content: "\e635";
}

.icon-tjia:before {
	content: "\e636";
}

.icon-tqing:before {
	content: "\e637";
}

.icon-tshe:before {
	content: "\e638";
}

.icon-tyi:before {
	content: "\e639";
}

.icon-txin:before {
	content: "\e63a";
}

.icon-play3:before {
	content: "\ea1c";
}

