/* app css stylesheet */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  height: 0px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*.createDesignView {
  height: 500px;
  background-image: url(img/create_bk.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}*/

.createDesignView.row,
.createDetailView.row {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.createDesignView > div:first-child > div:first-child,
.createDetailView > div:first-child > div:first-child {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.createDesignBgImg {
  width: 100%;
}
.createDesignView>img {
  
}

.createDesignView .genderButtonRow {
  margin-top: 40%;
}

.createDesignView .genderButtonRow > div:first-child {
  text-align: right;
}

.createDetailView .rightBtn{
  float: right;
}

.createDetailView .newDesignInfoArea {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

.myDesignListRowImg {
  width: 25%;
}

.myDesignListTitleRow {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.userInfoDerive > div {
  height: 100%;
}

.userInfoDerive .userIconRow {
  height: 20%;
  margin-top: 10px;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userIconRow > div {
  height: 100%;
}

.userInfoDerive .userIconRowEx {
  height: 80%;
  text-align: center;
}

.userInfoDerive .userIconRowEx > img {
  height: 100%;
  border-radius: 50%;
  border: solid 2px grey;
}

.userInfoDerive .userName {
  text-align: center;
}

.userInfoDerive .userPersonalRow {
  margin-top: 10px;
  height: 15%;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userStatisticsRow {
  margin-top: 10px;
  height: 25%;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userStatisticsRow > div {
  height: 100%;
}

.userInfoDerive .userStatisticsRow > div > div {
  height: 33%;
}

.userInfoDerive .userStatisticsRow .userStatisticsSubRow {
  padding-top: 5px;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userStatisticsRow .userStatisticsSubRow .userStatisticsSubRowValue {
  text-align: right;
}

.userInfoDerive .userStatisticsRow > .col-xs-9 > .userStatisticsSubRow:last-child {
  border-bottom: none;
}

.userInfoDerive .userQRCodeRow {
  margin-top: 10px;
  height: 25%;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userQRCodeRow > div {
  height: 100%;
}

.userInfoDerive .userQRCodeRow .userQRCodeTitle {
  height: 20px;
  text-align: left;
}

.userInfoDerive .userQRCodeRow .userQRCodeValue {
  height: calc(100% - 20px);
  text-align: center;
}

.userInfoDerive .userQRCodeRow .userQRCodeValue > img {
  height: 90%;
}

.userInfoDerive .userAddressRow .userAddressRowValue {
  text-align: right;
}

.couponList .couponItem .panel-heading{
  background-color: #E4F1FA;
}