/* app css stylesheet */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  height: 0px;
}

.row.noMargin {
  margin-left: 0px;
  margin-right: 0px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*.createDesignView {
  height: 500px;
  background-image: url(img/create_bk.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}*/

.createDesignView.row,
.createDetailView.row,
.saveDetailView.row {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.createDesignView > div:first-child > div:first-child,
.createDetailView > div:first-child > div:first-child {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.createDesignBgImg {
  width: 100%;
}
.createDesignView>img {
  
}

.createDesignView .genderButtonRow {
  margin-top: 40%;
}

.createDesignView .genderButtonRow > div:first-child {
  text-align: right;
}

.createDetailView .rightBtn{
  float: right;
}

.createDetailView .newDesignInfoArea {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

.createDetailView .toolRow {
  position: fixed;
  bottom: 0px;
  height: 35px;
}

.createDetailView .personalGalleryRow {
  margin-left: 80px;
  margin-right: 80px;
  width: auto;
  margin-left: 80px;
  margin-right: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 80px;
  background-color: rgba(207, 176, 96, 0.5);
  z-index: 1000;
}

.createDetailView .personalGalleryRow > div:first-child {
  height: 100%;
}

.createDetailView .personalGalleryRow .uploadedImageArea {
  height: 80%;
  height: calc(100% - 110px);
  height: -webkit-calc(100% - 110px);
  height: -moz-calc(100% - 110px);
}

.createDetailView .personalGalleryRow .uploadRowArea {
  width: 100%;
  text-align: center;
}

.createDetailView .personalGalleryRow .uploadRowArea .royalButtonWrapper {
  margin-top: 30px;
}

.createDetailView .selectedArtifactArea {
  position: relative;
}

.createDetailView .selectedArtifactArea .availableArea {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 140px;
  left: 76px;
}

.createDetailView .selectedArtifactArea .selectedArtifactItem {
  position: absolute;
  top: 0px;
  left: 0px;
}

.createDetailView .selectedArtifactArea .selectedArtifactItem .selectedArtifactItemPencil,
.createDetailView .selectedArtifactArea .selectedArtifactItem .selectedArtifactItemResize {
  font-size: 18px;
  background-color: rgba(176, 137, 67, 0.5);
  padding: 5px 5px 5px 5px;
  display: inline;
  border-radius: 18px;
  color: white;
  position: relative;
}

.createDetailView .selectedArtifactArea .selectedArtifactItem img {
  width: 70%;
  position: relative;
  border-width: 2px;
  border-style: dotted;
  border-color: rgb(176, 137, 67);
}

.createDetailView .previewDesignBtn {
  text-align: center;
  position: fixed;
  bottom: 35px;
  height: 35px;
  width: 100%;
  background-color: rgba(207, 176, 96, 0.5);
}

.createDetailView .previewDesignBtn > span {
  font-size: 25px;
}

.createDetailView .saveDetailView {
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(207, 176, 96, 0.8);
  z-index: 1000;
}

.createDetailView .saveDetailView .saveSuccessTitle {
  text-align: center;
  margin-top: 10%;
}

.createDetailView .saveDetailView .saveSuccessTitle > span {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.createDetailView .saveDetailView .designDescTitle {
  margin-top: 8%;
  margin-left: 20px;
}

.createDetailView .saveDetailView .designDescTitle > span {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.createDetailView .saveDetailView .designDescInput {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3%;
}

.createDetailView .saveDetailView .designAccess {
  text-align: center;
}

.createDetailView .saveDetailView .designAccess > label {
  color: white;
  font-size: 16px;
}

.createDetailView .saveDetailView .designAccess > label > input {
  margin-left: 0px;
} 

.createDetailView .saveDetailView .goToOrderBtn {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  width: auto;
}

.createDetailView .saveDetailView .naviBtnRow,
.createDetailView .orderDesignView .naviBtnRow {
  position: absolute;
  bottom: 3px;
  width: 100%;
}

.createDetailView .saveDetailView .naviBtnRow > span,
.createDetailView .orderDesignView .naviBtnRow > span {
  font-size: 25px;
  color: rgb(176, 137, 67);
}

.createDetailView .saveDetailView .naviBtnRow > span:first-child,
.createDetailView .orderDesignView .naviBtnRow > span:first-child {
  float: left;
  left: -25px;
}

.createDetailView .saveDetailView .naviBtnRow > span:nth-child(2),
.createDetailView .orderDesignView .naviBtnRow > span:nth-child(2) {
  float: right;
  left: 25px;
}

.createDetailView .orderDesignView {
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(207, 176, 96, 0.8);
  z-index: 1000;
}

.createDetailView .orderDesignView .addressValueRow {
  margin-top: 5%;
}

.createDetailView .orderDesignView .addressValueRow .addressTitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.createDetailView .orderDesignView .addressValueRow .addressValue,
.createDetailView .orderDesignView .addressValueRow .editAddress {
  text-align: center;
}

.createDetailView .orderDesignView .addressValueRow .addressValue > span {
  font-size: 15px;
  color: white;
}

.createDetailView .orderDesignView .addressValueRow .editAddress > span {
  font-size: 18px;
  color: white;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow {
  width: 130%;
  position: relative;
  left: -15%;
  height: 40%;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .leftAxis,
.createDetailView .orderDesignView .defaultOrderQuantityRow .rightAxis {
  position: absolute;
  width: 15px;
  height: 100%;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .leftAxis > .axisTop,
.createDetailView .orderDesignView .defaultOrderQuantityRow .rightAxis > .axisTop,
.createDetailView .orderDesignView .defaultOrderQuantityRow .leftAxis > .axisBottom,
.createDetailView .orderDesignView .defaultOrderQuantityRow .rightAxis > .axisBottom {
  height: 5px;
  background-color: rgb(176, 137, 67);
  margin-left: 3px;
  margin-right: 3px;
  width: auto;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .leftAxis > .axisCenter,
.createDetailView .orderDesignView .defaultOrderQuantityRow .rightAxis > .axisCenter {
  background-color: white;
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: rgb(176, 137, 67);
  height: calc(100% - 10px);
  height: -webkit-calc(100% - 10px);
  height: -moz-calc(100% - 10px);
  height: -o-calc(100% - 10px);
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .leftAxis > .axisCenter {
  border-left-width: 2px;
  border-left-style: solid;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .rightAxis > .axisCenter {
  border-right-width: 2px;
  border-right-style: solid;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .rightAxis {
  left: calc(100% - 15px);
  left: -webkit-calc(100% - 15px);
  left: -moz-calc(100% - 15px);
  left: -o-calc(100% - 15px);
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent {
  position: absolute;
  height: calc(100% - 10px);
  height: -webkit-calc(100% - 10px);
  height: -moz-calc(100% - 10px);
  height: -o-calc(100% - 10px);
  width: calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: -o-calc(100% - 30px);
  left: 15px;
  top: 5px;
  background-color: rgb(176, 137, 67);
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > div {
  width: 10px;
  word-wrap: break-word;
  display: inline-block;
  position: absolute;
  line-height: 15px;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .timeFootage {
  top: 5px;
  left: 3%;
  line-height: 10px;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .timeFootage > span {
  font-size: 12px;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .qinci {
  top: 40%;
  left: 8%;
  line-height: 20px;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .qinci > span {
  font-size: 15px;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .miling {
  top: 5%;
  left: 16%;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .sizeAndQuantity {
  top: 5%;
  width: 45%;
  left: 25%;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .summary {
  top: 10%;
  left: 74%;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .summary > span {
  color: white;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .zhaoyue {
  top: 5%;
  left: 82%;
  line-height: 16px;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .zhaoyue > span {
  font-size: 16px;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .shengzhi {
  top: 35%;
  left: 89%;
  line-height: 25px;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent > .shengzhi > span {
  font-size: 22px;
  color: white;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .sizeTitle,
.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .quantityTitle,
.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .sizeOptions,
.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .sizeActions {
  text-align: right;
  margin-top: 5px;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .sizeOptions > label,
.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .sizeActions > label {
  padding: 2px 2px 2px 2px;
  border-radius: 0px;
  border: 1px solid white;
  width: 22%;
  background-color: rgb(176, 137, 67);
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .sizeOptions > label.active,
.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .sizeActions > label.active {
  background-color: rgb(229, 169, 59);
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .sizeOptions > label:first-child {
  width: 25%;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .sizeActions > label:nth-child(2) {
  border: none;
  text-align: center;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .sizeActions > input {
  width: 35px;
  text-align: center;
  background-color: rgb(203, 152, 72);
  color: white;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .moreOrders {
  text-align: center;
  margin-top: 5px;
}

.createDetailView .orderDesignView .defaultOrderQuantityRow .quantityContent .moreOrders > span {
  padding: 3px 3px 3px 3px;
  border-radius: 15px;
  background-color: white;
  font-size: 15px;
  color: rgb(176, 137, 67);
}

.createDetailView .orderDesignView .payOptionRow {
  margin-top: 10%;
}

.createDetailView .orderDesignView .payOptionRow > div {
  position: absolute;
}

.createDetailView .orderDesignView .payOptionRow .paySource,
.createDetailView .orderDesignView .payOptionRow .payTotalArea,
.createDetailView .orderDesignView .payOptionRow .payCoupon {
  width: 33%;
}

.createDetailView .orderDesignView .payOptionRow .paySourceDiv,
.createDetailView .orderDesignView .payOptionRow .payCouponDiv {
  width: 15px;
  line-height: 13px;
  position: relative;
  left: calc(50% - 7px);
  left: -webkit-calc(50% - 7px);
  left: -moz-calc(50% - 7px);
  left: -o-calc(50% - 7px);
}

.createDetailView .orderDesignView .payOptionRow .paySourceDiv > span,
.createDetailView .orderDesignView .payOptionRow .payCouponDiv > span,
.createDetailView .orderDesignView .payOptionRow .payTotalArea > span {
  color: white;
}

.createDetailView .orderDesignView .payOptionRow .payTotalArea {
  left: 33%;
  width: 33%;
  text-align: center;
}

.createDetailView .orderDesignView .payOptionRow .payCoupon {
  left: 66%;
}

.createDetailView .orderDesignView .payOptionRow .royalButtonWrapper.payButton {
  margin-left: 20%;
  margin-right: 20%;
  width: auto;
  padding: 5px 5px 5px 5px;
}

.createDetailView .orderDesignView .payOptionRow .royalButtonWrapper.payButton > .royalButton {
  word-wrap: break-word;
  line-height: 18px;
  white-space: initial;
  padding: initial;
  width: 30px;
}

.royalButtonWrapper {
  padding: 10px 15px 10px 15px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(176, 137, 67, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.royalButtonWrapper > .royalButton {
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-color: rgb(176, 137, 67);
  border-radius: 0px;
  border-width: 2px;
  width: 100%;
}

.royalButtonWrapper > .royalButton:active,
.royalButtonWrapper > .royalButton:hover,
.royalButtonWrapper > .royalButton:focus {
  background-color: rgb(249, 230, 138);
}

.royalButtonWrapper > .royalButton > input.uploadInput {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.royalButtonWrapper > .royalButton > span {
  color: rgb(176, 137, 67);
  font-size: large;
  font-weight: bold;
}

.uploadedImageArea {
  margin-top: 15px;
}

.uploadedImageArea .titleDiv {
  text-align: center;
}

.uploadedImageArea .titleDiv > span {
  font-family: SimSun;
  font-size: large;
  color: white;
  font-weight: bold;
}

.uploadedImageArea .myArtifactsCarousel {
  height: 70%;
  height: calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: -moz-calc(100% - 50px);
}

.uploadedImageArea .myArtifactsCarousel li {
  text-align: center;
}

.uploadedImageArea .myArtifactsCarousel li img {
  width: 80%;
}

.uploadedImageArea .myArtifactsCarousel .rn-carousel-controls > span {
  color: white;
}

.uploadedImageArea .carouselIndicator {
  text-align: center;
}

.uploadedImageArea .carouselIndicator > .rn-carousel-indicator > span {
  margin-right: 5px;
}

.myDesignListCarousel {
  height: 300px;
}

.myDesignListCarousel > li {
  height: 100%;
}

.myDesignListCarousel > li > img {
  width: 100%;
}

.myDesignListRowImg {
  width: 25%;
}

.myDesignListTitleRow {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.userInfoDerive > div {
  height: 100%;
}

.userInfoDerive .userIconRow {
  height: 20%;
  margin-top: 10px;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userIconRow > div {
  height: 100%;
}

.userInfoDerive .userIconRowEx {
  height: 80%;
  text-align: center;
}

.userInfoDerive .userIconRowEx > img {
  height: 100%;
  border-radius: 50%;
  border: solid 2px grey;
}

.userInfoDerive .userName {
  text-align: center;
}

.userInfoDerive .userPersonalRow {
  margin-top: 10px;
  height: 15%;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userStatisticsRow {
  margin-top: 10px;
  height: 25%;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userStatisticsRow > div {
  height: 100%;
}

.userInfoDerive .userStatisticsRow > div > div {
  height: 33%;
}

.userInfoDerive .userStatisticsRow .userStatisticsSubRow {
  padding-top: 5px;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userStatisticsRow .userStatisticsSubRow .userStatisticsSubRowValue {
  text-align: right;
}

.userInfoDerive .userStatisticsRow > .col-xs-9 > .userStatisticsSubRow:last-child {
  border-bottom: none;
}

.userInfoDerive .userQRCodeRow {
  margin-top: 10px;
  height: 25%;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userQRCodeRow > div {
  height: 100%;
}

.userInfoDerive .userQRCodeRow .userQRCodeTitle {
  height: 20px;
  text-align: left;
}

.userInfoDerive .userQRCodeRow .userQRCodeValue {
  height: calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  text-align: center;
}

.userInfoDerive .userQRCodeRow .userQRCodeValue > img {
  height: 90%;
}

.userInfoDerive .userAddressRow .userAddressRowValue {
  text-align: right;
}

.couponList .couponItem .panel-heading{
  background-color: #E4F1FA;
}

.saveDetailView .headButtonRow {
  height: 35px;
  background-color: grey;
}

.saveDetailView .rightBtn{
  float: right;
}

/*.saveDetailView > div:first-child {
  height: 100%;
}*/

.saveDetailView .designDescriptionRow,
.saveDetailView .saveDesignOptionRow,
.saveDetailView .saveDesignActionButtonRow {
  height: 30%;
}

.saveDetailView .designDescriptionRow .designThumbnailImg {
  width: 100%;
}

.saveDetailView .designDescriptionRow .designDescriptionRow textarea {
  margin-top: 10px;
}

.saveDesignOptionRow .row,
.saveDesignActionButtonRow .row {
  text-align: center;
}