/* app css stylesheet */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  height: 0px;
}

.row.noMargin {
  margin-left: 0px;
  margin-right: 0px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*.createDesignView {
  height: 500px;
  background-image: url(img/create_bk.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}*/

.createDesignView.row,
.createDetailView.row,
.saveDetailView.row {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.createDesignView > div:first-child > div:first-child,
.createDetailView > div:first-child > div:first-child {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.createDesignBgImg {
  width: 100%;
}
.createDesignView>img {
  
}

.createDesignView .genderButtonRow {
  margin-top: 40%;
}

.createDesignView .genderButtonRow > div:first-child {
  text-align: right;
}

.createDetailView .rightBtn{
  float: right;
}

.createDetailView .newDesignInfoArea {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

.createDetailView .toolRow {
  position: fixed;
  bottom: 0px;
  height: 35px;
}

.createDetailView .personalGalleryRow {
  margin-left: 80px;
  margin-right: 80px;
  width: auto;
  margin-left: 80px;
  margin-right: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 120px;
  background-color: rgba(207, 176, 96, 0.5);
}

.createDetailView .personalGalleryRow .uploadRowArea {
  width: 100%;
  text-align: center;
}

.createDetailView .personalGalleryRow .uploadRowArea .royalButtonWrapper {
  margin-top: 30px;
}

.royalButtonWrapper {
  padding: 10px 15px 10px 15px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(211, 144, 22, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.royalButtonWrapper > .royalButton {
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-color: rgb(211, 144, 22);
  border-radius: 0px;
  border-width: 2px;
  width: 100%;
}

.royalButtonWrapper > .royalButton:active,
.royalButtonWrapper > .royalButton:hover,
.royalButtonWrapper > .royalButton:focus {
  background-color: rgb(249, 230, 138);
}

.royalButtonWrapper > .royalButton > input.uploadInput {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.royalButtonWrapper > .royalButton > span {
  color: rgb(211, 144, 22);
  font-size: large;
  font-weight: bold;
}

.uploadedImageArea {
  margin-top: 15px;
}

.uploadedImageArea .titleDiv {
  text-align: center;
}

.uploadedImageArea .titleDiv > span {
  font-family: SimSun;
  font-size: large;
  color: white;
  font-weight: bold;
}

.uploadedImageArea .myArtifactsCarousel {
  height: 500px;
}

.uploadedImageArea .myArtifactsCarousel li img {
  width: 100%;
}

.uploadedImageArea .myArtifactsCarousel .rn-carousel-controls > span {
  color: white;
}

.uploadedImageArea .carouselIndicator {
  text-align: center;
}

.uploadedImageArea .carouselIndicator > .rn-carousel-indicator > span {
  margin-right: 5px;
}

.myDesignListCarousel {
  height: 300px;
}

.myDesignListCarousel > li {
  height: 100%;
}

.myDesignListCarousel > li > img {
  width: 100%;
}

.myDesignListRowImg {
  width: 25%;
}

.myDesignListTitleRow {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.userInfoDerive > div {
  height: 100%;
}

.userInfoDerive .userIconRow {
  height: 20%;
  margin-top: 10px;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userIconRow > div {
  height: 100%;
}

.userInfoDerive .userIconRowEx {
  height: 80%;
  text-align: center;
}

.userInfoDerive .userIconRowEx > img {
  height: 100%;
  border-radius: 50%;
  border: solid 2px grey;
}

.userInfoDerive .userName {
  text-align: center;
}

.userInfoDerive .userPersonalRow {
  margin-top: 10px;
  height: 15%;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userStatisticsRow {
  margin-top: 10px;
  height: 25%;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userStatisticsRow > div {
  height: 100%;
}

.userInfoDerive .userStatisticsRow > div > div {
  height: 33%;
}

.userInfoDerive .userStatisticsRow .userStatisticsSubRow {
  padding-top: 5px;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userStatisticsRow .userStatisticsSubRow .userStatisticsSubRowValue {
  text-align: right;
}

.userInfoDerive .userStatisticsRow > .col-xs-9 > .userStatisticsSubRow:last-child {
  border-bottom: none;
}

.userInfoDerive .userQRCodeRow {
  margin-top: 10px;
  height: 25%;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.userInfoDerive .userQRCodeRow > div {
  height: 100%;
}

.userInfoDerive .userQRCodeRow .userQRCodeTitle {
  height: 20px;
  text-align: left;
}

.userInfoDerive .userQRCodeRow .userQRCodeValue {
  height: calc(100% - 20px);
  text-align: center;
}

.userInfoDerive .userQRCodeRow .userQRCodeValue > img {
  height: 90%;
}

.userInfoDerive .userAddressRow .userAddressRowValue {
  text-align: right;
}

.couponList .couponItem .panel-heading{
  background-color: #E4F1FA;
}

.saveDetailView .headButtonRow {
  height: 35px;
  background-color: grey;
}

.saveDetailView .rightBtn{
  float: right;
}

.saveDetailView > div:first-child {
  height: 100%;
}

.saveDetailView .designDescriptionRow,
.saveDetailView .saveDesignOptionRow,
.saveDetailView .saveDesignActionButtonRow {
  height: 30%;
}

.saveDetailView .designDescriptionRow .designThumbnailImg {
  width: 100%;
}

.saveDetailView .designDescriptionRow .designDescriptionRow textarea {
  margin-top: 10px;
}

.saveDesignOptionRow .row,
.saveDesignActionButtonRow .row {
  text-align: center;
}