<div class='createDetailView' ontouchmove="event.preventDefault()">
    <!--div ui-view="saveDetail"-->
        <div>
            <div>
                <img class='createDesignBgImg' ng-src="{{designInfo.bkImg}}"></img>
            </div>
        </div>

        <div ui-view="personalGallery"></div>
        <div ui-view="publicGallery"></div>
        <div ui-view="saveDetail"></div>
        <div ui-view="orderDesign"></div>
        <div ui-view="orderMore"></div>
        <div ui-view="addressDetail"></div>
        <div ui-view="paySourceList"></div>
        <div ui-view="payCouponList"></div>


        <div class="selectedArtifactArea" ng-if="aSelectedArtifact.length > 0">
            <div class="availableArea" style="{{htmlItemStyle.availableArea.styleStr}}"></div>
            <div ng-repeat="oArtifact in aSelectedArtifact track by $index" class="selectedArtifactItem">
                <div class="selectedArtifactItemDiv" style="{{oArtifact.divStyleStr}}">
                <img src="{{hostName + '/image/' + oArtifact.previewFileName}}" 
                
                hm-dragstart="onSelectedArtiItemDragstart($event, oArtifact)" 
                hm-drag="onSelectedArtiItemDragged($event, oArtifact)" 
                hm-dragend="onSelectedArtiItemDragend($event, oArtifact)" 
                hm-pinch-in="onSelectedArtiItemPinchIn($event, oArtifact)" 
                hm-pinch-out="onSelectedArtiItemPinchOut($event, oArtifact)" 
                hm-touch="onTouched($event)" 
                hm-tap="onTap($event)" 
                hm-double-tap="onDoubleTap($event)"
                style="{{oArtifact.styleStr}}">
                <span class="selectedArtifactItemPencil glyphicon glyphicon-pencil" 
                style="{{htmlItemStyle.previewBackgroundStyle ? oArtifact.pencilStyleStr : 'display:none;'}}"
                ng-click="onEditArtifactItemClicked()"></span>
                <span class="selectedArtifactItemResize glyphicon glyphicon-resize-full" 
                style="{{htmlItemStyle.previewBackgroundStyle ? oArtifact.resizeStyleStr : 'display:none;'}}" 
                hm-drag="onSelectedArtiItemResizeDrag($event, oArtifact)" 
                hm-dragend="onSelectedArtiItemResizeDragend($event, oArtifact)" 
                ></span>
                <span class="selectedArtifactItemRemove glyphicon glyphicon-remove" 
                style="{{htmlItemStyle.previewBackgroundStyle ? oArtifact.removeStyleStr : 'display:none;'}}" 
                ng-click="onRemoveArtifactItemClicked(oArtifact)" 
                ></span>
                </div>
            </div>
        </div>

        <div class="previewBackground">
            <img class='previewBackgroundImg' style="{{htmlItemStyle.previewBackgroundStyle}}" 
            ng-src="{{designInfo.previewBkImg}}"></img>
        </div>
        <!--img src="data:image/png;base64,{{oArtifact.largeImage64}}" design-artifact-->
        
        <!--div class="row">
            <input type="file" ng-file-select ng-model="files" ng-file-change="fileSelected($files)" ng-multiple="false" ng-capture="camera" accept="image/*" ng-model-rejected="rejFiles">Upload using model $watch</input>
            <button class="btn btn-default" ng-file-select ng-file-change="uploadImage($files)">Upload on file change</button>
        </div>
        <div class="row">
        	<img src="{{midImgSrc}}">
            <img src="{{largeImgSrc}}">
        </div-->

        <div class="switchColorButton">
            <span class="icon-changecolor" ng-click="onChangeColorClicked()">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
            </span>
        </div>
        <div class="previewDesignBtn" style="{{htmlItemStyle.designToolArea.styleStr}}" ng-click="onPreviewDesignBtnClicked()">
            <span>{{htmlItemStyle.previewBackgroundStyle === '' ? '调整设计' : '预览设计'}}</span>
        </div>
        <div class='toolRow' style="{{htmlItemStyle.designToolArea.styleStr}}">
            <div class="backButton">
                <span class="icon-undo" ng-click="onCreateDesignBackClicked()"></span>
            </div>
            <div class="highlightButton">
                <label class="icon-ideas2" ng-model="sActiveFeature" btn-radio="'highlightSelected'" 
                ng-click="onOpenPublicGallery()"></label>
            </div>
            <div class="cameraButton">
                <label class="glyphicon glyphicon-camera" ng-model="sActiveFeature" btn-radio="'cameraSelected'" 
                ng-click="onOpenMyGallery()"></label>
            </div>
            <!--div class="textButton">
                <span class="glyphicon glyphicon-text-size" ng-click="getFileContent()"></span>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-default">QR</button>
            </div-->
            <div class="createButton">
                <span class="rightBtn glyphicon glyphicon-ok" ng-click="onCreateDesignClicked()"></span>
            </div>
        </div>

        <div class="alerts">
            <alert ng-repeat="oMsg in aMessage" type="{{oMsg.type}}" close="closeAlert($index)">{{oMsg.content}}</alert>
        </div>
</div>