<div class='createDesignView' ng-controller="CreateDesignCtrl">
    <div ui-view="createDetail" class="createDesign">
        <!--div>
            <div>
                <img class='createDesignBgImg' src='img/test.svg'></img>
            </div>
        </div-->
        <!--div class='row'>
            <div class="col-xs-12">
                <button type="button" class="btn btn-default leftBtn glyphicon glyphicon-refresh"></button>
                <button class="btn btn-default rightBtn glyphicon glyphicon-ok" ng-click="createDesign()"></button>
            </div>
        </div-->
        <div class="pleaseDesign">
            <div>
                <span class="icon-tgong"></span>
                <span class="icon-tqing"></span>
                <span class="icon-tshe"></span>
                <span class="icon-tji2"></span>
                <img src="img/vertical_logo.png" class="verticalLogo">
            </div>
        </div>
        <div class='row genderButtonRow'>
            <div class="col-xs-6 maleButton">
                <div>
                    <span class="icon-m2 text" ng-click="onMaleSelected()"></span>
                </div>
                <div>
                    <span class="icon-m icon" ng-click="onMaleSelected()"></span>
                </div>
                <!--div><img src="img/genderMale.png" ng-click="onMaleSelected()"></div-->
            </div>
            <div class="col-xs-6 femaleButton">
                <div>
                    <span class="icon-f2 text" ng-click="onFemalerSelected()"></span>
                </div>
                <div>
                    <span class="icon-f icon" ng-click="onFemalerSelected()"></span>
                </div>
                <!--div><img src="img/genderFemale.png" ng-click="onFemalerSelected()"></div-->
            </div>
        </div>
    </div>
    <div class="busyView" style="{{busyViewStyle}}">
        <div>
            <span class="icon-tzheng"></span>
            <span class="icon-tbu"></span>
            <span class="icon-tji"></span>
        </div>
        <img src="img/cloud.png" class="busyViewCloud1">
        <img src="img/cloud.png" class="busyViewCloud2">
        <img src="img/cloud.png" class="busyViewCloud3">
    </div>
</div>