<div class='createDetailView' ontouchmove="event.preventDefault()">
    <!--div ui-view="saveDetail"-->
        <div>
            <div>
                <img class='createDesignBgImg' ng-src="{{designInfo.bkImg}}"></img>
            </div>
        </div>

        <div ui-view="personalGallery"></div>
        <div ui-view="saveDetail"></div>
        <div ui-view="orderDesign"></div>
        <div ui-view="orderMore"></div>
        <div ui-view="addressDetail"></div>
        <div ui-view="paySourceList"></div>
        <div ui-view="payCouponList"></div>

        <div class="selectedArtifactArea" ng-if="aSelectedArtifact.length > 0">
            <div class="availableArea" style="{{htmlItemStyle.availableArea.styleStr}}"></div>
            <div ng-repeat="oArtifact in aSelectedArtifact" class="selectedArtifactItem">
                
                <img src="{{oArtifact.largeImage64}}" 
                
                hm-dragstart="onSelectedArtiItemDragstart($event, oArtifact)" 
                hm-dragend="onSelectedArtiItemDragend($event, oArtifact)" 
                hm-pinch-in="onSelectedArtiItemPinchIn($event, oArtifact)" 
                hm-pinch-out="onSelectedArtiItemPinchOut($event, oArtifact)" 
                hm-touch="onTouched($event)" 
                hm-tap="onTap($event)"
                style="{{oArtifact.styleStr}}">
                <span class="selectedArtifactItemPencil glyphicon glyphicon-pencil" 
                style="{{oArtifact.pencilStyleStr}}"
                ng-click="onEditArtifactItemClicked()"></span>
                <span class="selectedArtifactItemResize glyphicon glyphicon-resize-full" 
                style="{{oArtifact.resizeStyleStr}}" 
                hm-drag="onSelectedArtiItemResizeDrag($event, oArtifact)" 
                hm-dragend="onSelectedArtiItemResizeDragend($event, oArtifact)" 
                ></span>
                <span class="selectedArtifactItemResize glyphicon glyphicon-remove" 
                style="{{oArtifact.removeStyleStr}}" 
                ng-click="onRemoveArtifactItemClicked(oArtifact)" 
                ></span>
            </div>
        </div>
        <!--img src="data:image/png;base64,{{oArtifact.largeImage64}}" design-artifact-->
        
        <!--div class="row">
            <input type="file" ng-file-select ng-model="files" ng-file-change="fileSelected($files)" ng-multiple="false" ng-capture="camera" accept="image/*" ng-model-rejected="rejFiles">Upload using model $watch</input>
            <button class="btn btn-default" ng-file-select ng-file-change="uploadImage($files)">Upload on file change</button>
        </div>
        <div class="row">
        	<img src="{{midImgSrc}}">
            <img src="{{largeImgSrc}}">
        </div-->

        <div class="switchColorButton">
            <span class="icon-changecolor" ng-click="onChangeColorClicked()">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
            </span>
        </div>
        <!--div class="previewDesignBtn" style="{{htmlItemStyle.designToolArea.styleStr}}" ng-click="onPreviewDesignBtnClicked()">
            <span>好</span>
        </div-->
        <div class='toolRow' style="{{htmlItemStyle.designToolArea.styleStr}}">
            <div class="backButton">
                <span class="icon-undo" ng-click="onCreateDesignBackClicked()"></span>
            </div>
            <div class="highlightButton">
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="cameraButton">
                <span class="glyphicon glyphicon-camera" ng-click="onOpenMyGallery()"></span>
            </div>
            <!--div class="textButton">
                <span class="glyphicon glyphicon-text-size" ng-click="getFileContent()"></span>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-default">QR</button>
            </div-->
            <div class="createButton">
                <span class="rightBtn glyphicon glyphicon-ok" ng-click="onCreateDesignClicked()"></span>
            </div>
        </div>

        <div class="alerts">
            <alert ng-repeat="oMsg in aMessage" type="{{oMsg.type}}" close="closeAlert($index)">{{oMsg.content}}</alert>
        </div>
        <!--div class='row newDesignInfoArea'>
            <div class="col-xs-12">
                <div class='row'>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" placeholder="Design Name" ng-model="designInfo.sDefaultDesc">
                    </div>
                    <div class="col-xs-6">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="designInfo.bPrivateDesign">
                            This is a private design
                        </label>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-3'>
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                {{designInfo.sBackgroundColor}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="oColor in constant.BK_COLOR_ARRYA">
                                    <a ng-click="changeBackgroundColor(oColor)">{{oColor}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='col-xs-3'>
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                {{designInfo.sSize}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="oSize in constant.SIZE_ARRAY">
                                    <a ng-click="changeSize(oSize)">{{oSize}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='col-xs-6'>
                        <div class="row">
                            <div class="col-xs-4">
                                <span>CreatorId: </span>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" ng-model="designInfo.sCreatorId">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div-->
    <!--/div-->
</div>