<div class='row createDetailView'>
    <div ui-view="saveDetail">
        <div class='row'>
            <div class="col-xs-12">
                <img class='createDesignBgImg' src='img/female_white.png'></img>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-default glyphicon glyphicon-refresh" ng-click="onCreateDesignBackClicked()"></button>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-default">白</button>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-default" ng-click="chooseImageFromGallery()">转</button>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-default">黑</button>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default rightBtn glyphicon glyphicon-ok" ng-click="createDesign()"></button>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="file" ng-file-select ng-model="files" ng-file-change="fileSelected($files)" ng-multiple="false" ng-capture="camera" accept="image/*" ng-model-rejected="rejFiles">Upload using model $watch</input>
            <button class="btn btn-default" ng-file-select ng-file-change="uploadImage($files)">Upload on file change</button>
        </div>
        <div class="row">
        	<img src="{{imgSrc}}">
        </div>
        <div class='row newDesignInfoArea'>
            <div class="col-xs-12">
                <div class='row'>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" placeholder="Design Name" ng-model="designInfo.sDefaultDesc">
                    </div>
                    <div class="col-xs-6">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="designInfo.bPrivateDesign">
                            This is a private design
                        </label>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-3'>
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                {{designInfo.sBackgroundColor}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="oColor in constant.BK_COLOR_ARRYA">
                                    <a ng-click="changeBackgroundColor(oColor)">{{oColor}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='col-xs-3'>
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                {{designInfo.sSize}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="oSize in constant.SIZE_ARRAY">
                                    <a ng-click="changeSize(oSize)">{{oSize}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='col-xs-6'>
                        <div class="row">
                            <div class="col-xs-4">
                                <span>CreatorId: </span>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" ng-model="designInfo.sCreatorId">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>