<div class="managementView">
    <div class="toolRow">
        
    </div>
    <div class="orderContainer">
        <div>
            <span>预览</span>
            <span>用户ID</span>
            <span>订单状态</span>
            <span>性别</span>
            <span>订单描述</span>
        </div>
        <div ng-repeat="oOrder in aOrders" class="orderItem">
            <div class="orderImageDiv">
                <img src="img/female_white.png">
            </div>
            <div class="orderInfo">
                <span>{{oOrder.status}}</span>
            </div>
            <div class="orderStatus">
                <span>{{oOrder.designId.gender}}</span>
                <span>{{oOrder.designId.color}}</span>
                <span>{{oOrder.designId.desc}}</span>
            </div>
            <div class="download">
                <span class="glyphicon glyphicon-download-alt"></span>
            </div>
            <div class="submit">
                <span class="glyphicon glyphicon-floppy-disk">提交</span>
            </div>
        </div>
    </div>
</div>