<div class='myDesignsView' ng-controller="MyDesignsListCtrl">
    <div ui-view="designDetail" class="designDetailView">
        <img src="img/cloud.png" class="bottomCenterCloud">

        <div class="myDesignListHeader">
            <div ng-click="onIDesignedClicked()">
                <span style="{{whatILiked === true ? '' : 'font-weight:bold;'}}">
                {{urlStateValue === 'mine' ? '朕设计的' : '设计精选'}}</span>
                <span class="glyphicon glyphicon-triangle-top" style="{{whatILiked === true ? 'display:none;' : ''}}"></span>
            </div>
            <div ng-click="onILikedClicked()" style="display:none;">
                <span style="{{whatILiked === true ? 'font-weight:bold;' : ''}}">朕喜欢的</span>
                <span class="glyphicon glyphicon-triangle-top" style="{{whatILiked === true ? '' : 'display:none;'}}"></span>
            </div>
        </div>

        <img src="img/cloud.png" class="topLeftCloud">

        
        <div class="myDesignListContent">
            <div class="myDesignListLeft">
                <div class="topAxis">
                    <div class="topAxisCenter"></div>
                    <div class="topAxisRight"></div>
                </div>
                <div class="centerAxis"></div>
                <div class="bottomAxis">
                    <div class="bottomAxisCenter"></div>
                    <div class="bottomAxisRight"></div>
                </div>
            </div>
            <div class="myDesignListCenter">
                <div class="topAxis">
                    <div class="topAxisLeft"></div>
                    <div class="topAxisCenter"></div>
                    <div class="topAxisRight"></div>
                </div>
                <div class="centerContent" ng-if="aMyDesigns.length > 0">
                    <ul rn-carousel rn-carousel-buffered class="image myDesignListCarousel" 
                    rn-carousel-transition="fadeAndSlide" rn-carousel-index="iDesignCarouselIndex">
                        <span class="noDesignFound" style="{{aMyDesigns.length < 1 ? '' : 'display:none;'}}">竟然目前还没有设计，不如我来设计吧</span>
                        <span class="noDesignFound" ng-if="!aMyDesigns">载入中...</span>
                        <li ng-repeat="oDesign in aMyDesigns">
                            <div class="designItem" ng-click="onDesignItemClicked(oDesign)">
                                <img src="{{oDesign.bkImg}}" class="designBackgroundImg">
                                <img ng-src="{{oDesign.previewImage64}}" style="{{positionInfoStyleValue}}">
                            </div>
                        </li>
                    </ul>
                    <!--div rn-carousel-indicators ng-if="aMyDesigns.length > 1" slides="aMyDesigns" 
                    rn-carousel-index="iDesignCarouselIndex" class="carouselIndicator"></div-->
                </div>
                <div class="bottomAxis">
                    <div class="bottomAxisLeft"></div>
                    <div class="bottomAxisCenter"></div>
                    <div class="bottomAxisRight"></div>
                </div>
            </div>
            <div class="myDesignListRight">
                <div class="topAxis">
                    <div class="topAxisLeft"></div>
                    <div class="topAxisCenter"></div>
                </div>
                <div class="centerAxis"></div>
                <div class="bottomAxis">
                    <div class="bottomAxisLeft"></div>
                    <div class="bottomAxisCenter"></div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="myDesignListFooter">
        
    </div>

    <img src="img/cloud.png" class="rightCenterCloud">

    <!--div>
        <div class='row myDesignListTitleRow'>
            <div class="col-xs-3">Thumbnail</div>
            <div class="col-xs-9">
                <div class='row'>
                    <div class="col-xs-3">Description</div>
                    <div class="col-xs-2">creatorId</div>
                    <div class="col-xs-2">ppp</div>
                    <div class="col-xs-2">access</div>
                </div>
            </div>
        </div>
        <div ng-repeat="oDesign in aMyDesigns">
            <div class='row'>
                <div class="col-xs-3">
                    <img ng-src="img/create_bk.png" class="myDesignListRowImg" ng-click="onDesignItemClicked(oDesign)">
                </div>
                <div class="col-xs-9">
                    <div class='row'>
                        <div class="col-xs-3">{{oDesign.desc}}</div>
                        <div class="col-xs-2">{{oDesign.creatorId}}</div>
                        <div class="col-xs-2">{{oDesign.price}}</div>
                        <div class="col-xs-2">{{oDesign.access}}</div>
                        <div class="col-xs-2">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                                    Edit <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="oOption in constant.DESIGN_ITEM_OPT">
                                        <a ng-click="onDesignItemOptionClicked(oOption, oDesign)">{{oOption}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->
</div>
<!--div class="row">
    <div class="col-xs-4">
        <a ui-sref="orderList">Search</a>
    </div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <a ui-sref="createDesign">新设计</a>
    </div>
</div-->
