<div class='orderDesignView'>
    <div ui-view="extraOrderInfo"></div>
    <div class="sizeInfo" style="{{bShowSizeInfo ? '' : 'display:none;'}}">
        <div class="sizeInfoDiv">
            <img src="img/sizeInstruction.jpg">
            <span class="icon-undo" ng-click="onSizeInfoButtonClicked()"></span>
        </div>
    </div>
    <div class="addressValueRow">
        <div class="addressTitle" ng-click="onEditAddressDetailClicked()">邮寄信息：</div>
        <div class="addressValue" ng-click="onEditAddressDetailClicked()">
            <span>{{orderInfo.mailInfoSummary}}</span>
        </div>
        <div class="editAddress">
            <span class="glyphicon glyphicon-triangle-bottom" ng-click="onEditAddressDetailClicked()"></span>
        </div>
    </div>
    <div class="defaultOrderQuantityRow">
        <div class="leftAxis">
            <div class="axisTop"></div>
            <div class="axisCenter"></div>
            <div class="axisBottom"></div>
        </div>
        <div class="quantityContent">
            <div class="shengzhi">
                <span>圣 旨</span>
            </div>
            <div class="zhaoyue">
                <span>奉天承运 皇帝诏曰</span>
            </div>
            <div class="weifu">
                <span>朕微服出巡 独家随行衣物清单</span>
            </div>
            <div class="genderAndSizeContainer">
                <div class="genderAndSize">
                    <div class="genderArea">
                        <div class="genderOptions">
                            <label class="btn btn-warning" ng-model="designInfo.sGender" btn-radio="'male'">男</label>
                            <label class="btn btn-warning" ng-model="designInfo.sGender" btn-radio="'female'">女</label>
                        </div>
                        <span>款</span>
                    </div>
                    <div class="sizeArea">
                        <div class="sizeOptions">
                            <label class="btn btn-warning" ng-model="orderInfo.clothesSize" btn-radio="'S'">
                                {{designInfo.sGender === 'male' ? 'S' : 'XS'}}
                            </label>
                            <label class="btn btn-warning" ng-model="orderInfo.clothesSize" btn-radio="'M'">
                                {{designInfo.sGender === 'male' ? 'M' : 'S'}}
                            </label>
                            <label class="btn btn-warning" ng-model="orderInfo.clothesSize" btn-radio="'L'">
                                {{designInfo.sGender === 'male' ? 'L' : 'M'}}
                            </label>
                            <label class="btn btn-warning" ng-model="orderInfo.clothesSize" btn-radio="'XL'">
                                {{designInfo.sGender === 'male' ? 'XL' : 'L'}}
                            </label>
                        </div>
                        <span>号</span>
                    </div>
                    <div class="sizeInfoArea">
                        <span class="icon-info" ng-click="onSizeInfoButtonClicked()"></span>
                    </div>
                </div>
            </div>
            <div class="colorAndQuantityContainer">
                <div class="colorAndQuantity">
                    <div class="colorArea">
                        <div class="colorOptions">
                            <label class="btn btn-warning" ng-model="designInfo.color" btn-radio="'black'">黑</label>
                            <label class="btn btn-warning" ng-model="designInfo.color" btn-radio="'white'">白</label>
                        </div>
                        <span>色</span>                    
                    </div>
                    <span>短袖体恤</span>
                    <div class="quantityActions">
                        <label class="btn btn-warning" ng-model="orderInfo.defaultQuantityAction" btn-radio="'加'" 
                        ng-click="onIncreaseQuantity()">加</label>
                        <input type="text" ng-model="orderInfo.clothesQuanaity"></input>
                        <label class="btn btn-warning" ng-model="orderInfo.defaultQuantityAction" btn-radio="'减'" 
                        ng-click="onDecreaseQuantity()">减</label>
                    </div>
                    <span>件</span>
                </div>
            </div>
            <div class="milin">
                <span>密令内务府加紧赶制送达寝殿</span>
                <span>钦此</span>
            </div>
            <div class="timeFootage">
                <span>{{oTimeStr}}</span>
            </div>

            <!--div class="timeFootage">
                <span>{{oTimeStr}}</span>
            </div>
            <div class="qinci">
                <span>钦此</span>
            </div>
            <div class="miling">
                <span>令内务府加紧赶制</span>
            </div>
            <div class="sizeAndQuantity">
                <div class="sizeTitle">
                    <span>尺码</span>
                </div>
                <div class="sizeOptions">
                    <label class="btn btn-warning" ng-model="orderInfo.clothesSize" btn-radio="'S'">
                        {{designInfo.sGender === 'male' ? 'S' : 'XS'}}
                    </label>
                    <label class="btn btn-warning" ng-model="orderInfo.clothesSize" btn-radio="'M'">
                        {{designInfo.sGender === 'male' ? 'M' : 'S'}}
                    </label>
                    <label class="btn btn-warning" ng-model="orderInfo.clothesSize" btn-radio="'L'">
                        {{designInfo.sGender === 'male' ? 'L' : 'M'}}
                    </label>
                    <label class="btn btn-warning" ng-model="orderInfo.clothesSize" btn-radio="'XL'">
                        {{designInfo.sGender === 'male' ? 'XL' : 'L'}}
                    </label>
                </div>
                <div class="quantityTitle">
                    <span>数量</span>
                </div>
                <div class="sizeActions">
                    <label class="btn btn-warning" ng-model="orderInfo.defaultQuantityAction" btn-radio="'加'" 
                    ng-click="onIncreaseQuantity()">加</label>
                    <input type="text" ng-model="orderInfo.clothesQuanaity"></input>
                    <label class="btn btn-warning" ng-model="orderInfo.defaultQuantityAction" btn-radio="'减'" 
                    ng-click="onDecreaseQuantity()">减</label>
                </div>
                <div class="moreOrders">
                    <span class="icon-info" ng-click="onSizeInfoButtonClicked()"></span>
                </div>
            </div>
            <div class="summary">
                <span>{{designInfo.sGender === 'male' ? '男士白色短袖T恤' : '女士白色短袖T恤'}}</span>
            </div>
            <div class="zhaoyue">
                <span>奉天承运 皇帝诏曰</span>
            </div>
            <div class="shengzhi">
                <span>圣 旨</span>
            </div-->
        </div>
        <div class="rightAxis">
            <div class="axisTop"></div>
            <div class="axisCenter"></div>
            <div class="axisBottom"></div>
        </div>
    </div>
    <div class="payOptionRow">
        <div class="paySource" style="visibility:hidden;">
            <div class="paySourceButtonDiv">
                <span class="glyphicon glyphicon-triangle-left" ng-click="onPaySourceBtnClicked()"></span>
            </div>
            <div class="paySourceDiv" ng-click="onPaySourceBtnClicked()">
                <span>已选银库：微信支付</span>
            </div>
        </div>
        <div class="payTotalArea">
            <span class="payTotalRMBIcon">￥</span>
            <span class="payTotalCount">{{orderInfo.totalPay}}</span>
            <div class="royalButtonWrapper payButton">
                <div class="btn btn-warning royalButton">
                    <span ng-click="onCreateOrderBtnClicked()">创建订单</span>
                </div>
            </div>
        </div>
        <div class="payCoupon" style="visibility:hidden;">
            <div class="payCouponButtonDiv">
                <span class="glyphicon glyphicon-triangle-right" ng-click="onPayCouponBtnClicked()"></span>
            </div>
            <div class="payCouponDiv" ng-click="onPayCouponBtnClicked()">
                <span>已用制衣券：{{orderInfo.couponPay}}</span>
            </div>
        </div>
    </div>
    <div class="naviBtnRow">
        <span class="icon-undo" ng-click="onBack2SaveDetailClicked()"></span>
        <span class="glyphicon glyphicon-send" ng-click="onPrepareShareButtonClicked()"></span>
    </div>
</div>