<div class='myOrdersView' ng-controller="OrderListCtrl">

    <div class="myOrdersListHeader">
        <span>所有订单</span>
    </div>
    
    <div class="myOrdersListContent">
        <ul rn-carousel class="image myOrdersListCarousel" rn-carousel-transition="fadeAndSlide">
            <li ng-repeat="oOrderGroup in aOrderGroups">
                <div class="orderGroup">
                    <div ng-repeat="oOrder in oOrderGroup" class="orderItem">
                        <div class="orderItemDiv">
                            <div class="designPreview">
                                <div class="designPreviewDiv">
                                    <img src="{{oOrder.designId.bkImg}}">
                                    <img src="{{oOrder.designId.previewImage64}}" style="{{oOrder.previewPosition}}" 
                                    class="previewImage">
                                </div>
                            </div>
                            <div class="orderInfoDiv">
                                <div class="title">
                                    <span>{{oOrder.uiTitle}}</span>
                                </div>
                                <div>
                                    <span class="subTitle">尺码</span>
                                    <span class="subTitleValue">{{oOrder.uiSize}}</span>
                                    <span class="subTitle">数量</span>
                                    <span class="subTitleValue">{{oOrder.uiQuantity}}</span>
                                </div>
                                <div>
                                    <span class="subTitle">所需金额</span>
                                    <span class="rmbTitle">￥</span>
                                    <span class="totalPrice">{{oOrder.totalPrice}}</span>
                                </div>
                                <div>
                                    <span class="orderTip">{{oOrder.tip}}</span>
                                </div>
                                <div class="royalButtonWrapper payButton">
                                    <div class="btn btn-warning royalButton">
                                        <span ng-click="onButtonClicked(oOrder)">{{oOrder.buttonText}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
