<div class='row paySourceListView'>
    <div class="royalButtonWrapper payButton">
        <div class="btn btn-warning royalButton">
            <span ng-click="onPayViaWechatClicked()">微信支付</span>
        </div>
    </div>
    <div class="royalButtonWrapper payButton">
        <div class="btn btn-warning royalButton">
            <span ng-click="onPayViaAlipayClicked()">支付宝支付</span>
        </div>
    </div>
    <div class="naviBtnRow">
        <span class="glyphicon glyphicon-chevron-left" ng-click="onBackFromPaySourceListClicked()"></span>
        <span class="glyphicon glyphicon-send"></span>
    </div>
</div>