<div class="row personalGalleryRow">
    <div class="col-xs-12">
        <div class="uploadRowArea">
            <div class="royalButtonWrapper">
                <div class="fileUploadBtn btn btn-warning royalButton">
                    <span>立即上传</span>
                    <input type="file" ng-file-select ng-model="files" ng-file-change="fileSelected($files)" ng-multiple="false" ng-capture="camera" accept="image/*" ng-model-rejected="rejFiles" class="uploadInput"></input>
                </div>
            </div>
            <div class="uploadTip">
                <span>请保证照片上传质量<br>（推荐2M左右）<br>点击素材放置到画布</span>
            </div>
        </div>
        <div class="uploadedImageArea">
            <div class="titleDiv">
                <span class="titleSpan">已上传图像</span>
            </div>
            <div class="myArtifactsCarouselDiv" ng-if="aMyArtifact.length > 0">
                <span class="noArtifactFound" ng-if="!aMyArtifact">载入中...</span>
                <ul rn-carousel class="image myArtifactsCarousel" rn-carousel-transition="fadeAndSlide"  
                rn-carousel-index="aMyArtifactCarouselIndex">
                    <li ng-repeat="oImageGroup in aMyArtifact">
                        <div class="myArtifactsGroupTop">
                            <img src="{{'/image/' + oImageGroup[0].previewFileName}}" 
                            style="{{!!oImageGroup[0] ? '' : 'visibility:hidden;'}}" 
                            ng-click="onArtifactSelected(oImageGroup[0])">
                            <img src="{{'/image/' + oImageGroup[1].previewFileName}}" 
                            style="{{!!oImageGroup[1] ? '' : 'visibility:hidden;'}}" 
                            ng-click="onArtifactSelected(oImageGroup[1])">
                        </div>
                        <div class="myArtifactsGroupBottom">
                            <img src="{{'/image/' + oImageGroup[2].previewFileName}}" 
                            style="{{!!oImageGroup[2] ? '' : 'visibility:hidden;'}}" 
                            ng-click="onArtifactSelected(oImageGroup[2])">
                            <img src="{{'/image/' + oImageGroup[3].previewFileName}}" 
                            style="{{!!oImageGroup[3] ? '' : 'visibility:hidden;'}}" 
                            ng-click="onArtifactSelected(oImageGroup[3])">
                        </div>
                        <!--img src="{{oImage.largeImage64}}" style="margin:auto;" 
                        ng-click="onArtifactSelected(oImage)"-->
                    </li>
                </ul>
                <div rn-carousel-indicators ng-if="aMyArtifact.length > 1" slides="aMyArtifact" 
                rn-carousel-index="aMyArtifactCarouselIndex" class="carouselIndicator"></div>
            </div>
        </div>
    </div>
</div>