<div class='row saveDetailView'>
    <div class="saveSuccessTitle" style="{{designInfo.bSaved === true ? '' : 'display:none;'}}">
        <div class="titleLine1">
            <span class="icon-txin"></span>
            <span class="icon-tshe"></span>
            <span class="icon-tji2"></span>
            <span class="icon-tde"></span>
            <span class="icon-tdu"></span>
            <span class="icon-tjia"></span>
            <span class="icon-txin"></span>
            <span class="icon-tyi"></span>
        </div>
        <div class="titleLine2">
            <span class="icon-tchen"></span>
            <span class="icon-tgong2"></span>
            <span class="icon-tbao"></span>
            <span class="icon-tcun"></span>
        </div>
    </div>
    <div class="designDescTitle" style="{{designInfo.bSaved === true ? 'display:none;' : ''}}">
        <span class="designDescTitlePencil glyphicon glyphicon-pencil"></span>
        <span>设计描述</span>
    </div>
    <div class="designDescInput" style="{{designInfo.bSaved === true ? 'display:none;' : ''}}">
        <input type="text" class="form-control" ng-model="designInfo.sDescription">
    </div>
    <div class="designAccess" style="{{designInfo.bSaved === true ? 'display:none;' : ''}}">
        <label class="checkbox">
            <input type="checkbox" ng-model="designInfo.bPublicDesign">
            允许他人购买
        </label>
    </div>
    <div class="royalButtonWrapper goToOrderBtn" style="{{designInfo.bSaved === true ? '' : 'display:none;'}}">
        <div class="btn btn-warning royalButton">
            <span ng-click="onOrderBtnClicked()">下旨赶制</span>
        </div>
    </div>
    <div class="royalButtonWrapper saveDesignBtn" style="{{designInfo.bSaved === true ? 'display:none;' : ''}}">
        <div class="btn btn-warning royalButton" ng-click="onSaveDesignBtnClicked()">
            <span>保存设计</span>
        </div>
    </div>
    <div class="naviBtnRow">
        <span class="icon-undo" ng-click="onBack2DesignDetailClicked()"></span>
        <span class="glyphicon glyphicon-send" style="{{designInfo.bSaved ? '' : 'visibility:hidden;'}}" 
        ng-click="onPrepareShareButtonClicked()"></span>
    </div>
</div>