<div class='row saveDetailView'>
    <div class="saveSuccessTitle" style="{{designInfo.bSaved === true ? '' : 'display:none;'}}">
        <span>新设计的独家新衣<br>成功保存</span>
    </div>
    <div class="designDescTitle" style="{{designInfo.bSaved === true ? 'display:none;' : ''}}">
        <span class="designDescTitlePencil glyphicon glyphicon-pencil"></span>
        <span>朕的批注</span>
    </div>
    <div class="designDescInput" style="{{designInfo.bSaved === true ? 'display:none;' : ''}}">
        <input type="text" class="form-control" ng-model="designInfo.sDescription">
    </div>
    <div class="designAccess" style="{{designInfo.bSaved === true ? 'display:none;' : ''}}">
        <label class="checkbox">
            恩准他人使用
            <input type="checkbox" ng-model="designInfo.bPublicDesign">
        </label>
    </div>
    <div class="royalButtonWrapper goToOrderBtn" style="{{designInfo.bSaved === true ? '' : 'display:none;'}}">
        <div class="btn btn-warning royalButton">
            <span ng-click="onOrderBtnClicked()">下旨赶制</span>
        </div>
    </div>
    <div class="royalButtonWrapper goToOrderBtn" style="{{designInfo.bSaved === true ? 'display:none;' : ''}}">
        <div class="btn btn-warning royalButton">
            <span ng-click="onSaveDesignBtnClicked()">保存设计</span>
        </div>
    </div>
    <div class="naviBtnRow">
        <span class="glyphicon glyphicon-chevron-left" ng-click="onBack2DesignDetailClicked()"></span>
        <span class="glyphicon glyphicon-send"></span>
    </div>
    <!--div ui-view="purchaseDesign">
        <div class='row headButtonRow'>
            <div class="col-xs-12">
                <button class="btn btn-default glyphicon glyphicon-refresh" ng-click="onCreateDesignBackClicked()">Back</button>
                <button class="btn btn-default rightBtn glyphicon glyphicon-ok" ng-click="onPurchaseClicked()">Purchase</button>
            </div>
        </div>
        <div class='row designDescriptionRow'>
            <div class="col-xs-4">
                <img class="designThumbnailImg" ng-src="img/test.svg">
            </div>
            <div class="col-xs-8">
                <textarea class="form-control" rows="4"></textarea>
            </div>
        </div>
        <div class='row saveDesignOptionRow'>
            <div class="col-xs-12">
                <div class="row">
                    <label class="checkbox">
                        <input type="checkbox">
                        保存我的素材
                    </label>
                </div>
                <div class="row">
                    <label class="checkbox">
                        <input type="checkbox">
                        允许我的素材被他人使用
                    </label>
                </div>
                <div class="row">
                    <label class="checkbox">
                        <input type="checkbox">
                        允许我的设计被他人购买
                    </label>
                </div>
            </div>
        </div>
        <div class='row saveDesignActionButtonRow'>
            <div class="col-xs-12">
                <div class="row">
                    <button class="btn btn-default glyphicon glyphicon-refresh">保存到我的设计</button>
                </div>
                <div class="row">
                    <button class="btn btn-default glyphicon glyphicon-refresh">告诉我的朋友</button>
                </div>
            </div>
        </div>
    </div-->
</div>